<html>
  <head>
    {% block head %}
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
      
        <title>Repixelizor</title>
      
      
        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="/static/templates/css/bootstrap.css" />
      
        <!-- fonts style -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      
        <!-- Custom styles for this template -->
        <link href="/static/templates/css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="/static/templates/css/responsive.css" rel="stylesheet" /><script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{% block title %}{% endblock %} - Repixelizor</title>
    {% endblock %}
  </head>
  <body>
    
      <div class="hero_area">
        
        <header class="header_section">
          <div class="container-fluid">
            
            <div class="row">
              <div class="col-lg-11 offset-lg-1">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="{{url_for('index')}}">
                    <img src="/static/templates/images/logo.png" alt="">
                    <span>
                        Repixelizor
                    </span>
                  </a>
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
    
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                      <ul class="navbar-nav  "> 
                        <li class="nav-item">
                          {% if session['name'] %}
                          <a class="nav-link" href="{{url_for('homeindex')}}">Home </a>
                          {% else %}
                          <a class="nav-link" href="{{url_for('index')}}">Home </a>
                          {% endif %}
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('about')}}"> About <span class="sr-only"></span> </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('privacy')}}"> Privacy Policy </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('Contact')}}">Contact Us</a>
                        </li>
                      </ul>
                      {% if session['name'] %}
                      <form class="form-inline" action="{{url_for('logout')}}" >
                        <input type="submit" name="logout" value="logout" class="btn btn-info" >
                      </form>
                      {% endif %}
                    </div>
    
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </header>
        {% if session['name'] %}
        <div class="w3-sidebar w3-bar-block w3-border " style="height:300px;width:180px;padding-top: 30px;background-color: lightcyan;" id="mySidebar">
          
          <a href="{{url_for('homeindex')}}" class="w3-bar-item w3-button" >Deoldify<img src="/static/templates/images/tv.png" style="height: 30px;width: 30px ;"></img></a>
          <a href="{{url_for('toonindex')}}" class="w3-bar-item w3-button" >Cartoonify<img src="/static/templates/images/camcorder.png" style="height: 30px;width: 30px ;"></img></a>
          <a href="{{url_for('homeindex')}}" class="w3-bar-item w3-button">Trasforn Video<img src="/static/templates/images/bulb.png" style="height: 30px;width: 30px ;" ></img></a>
          <a href="{{url_for('homeindex')}}" class="w3-bar-item w3-button">Image in Movie<img src="/static/templates/images/camera.png" style="height: 30px;width: 30px ;"></img></a>
        </div>
        {% endif %}
        {% block content %} {% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <section class="info_section ">
        <div class="container">
          <div class="info_container">
            <div class="info_social">
              <div class="d-flex justify-content-center">
                <h4 class="">
                  Follow on
                </h4>
              </div>
              <div class="social_box">
                <a href="">
                  <img src="/static/templates/images/fb.png" alt="">
                </a>
                <a href="">
                  <img src="/static/templates/images/twitter.png" alt="">
                </a>
                <a href="">
                  <img src="/static/templates/images/instagram.png" alt="">
                </a>
                <a href="">
                  <img src="/static/templates/images/linkedin.png" alt="">
                </a>
                <a href="">
                  <img src="/static/templates/images/dribble.png" alt="">
                </a>
                <a href="">
                  <img src="/static/templates/images/pinterest.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- end info_section -->
    
      <!-- footer section -->
      <section class="container-fluid footer_section">
        <div class="container">
          <p>
            &copy; 2023 All Rights Reserved By Repixelizor
            <!-- <a href="https://html.design/">Repixelizor</a> -->
          </p>
        </div>
      </section>
      <!-- footer section -->
    
      <script type="text/javascript" src="/static/templates/js/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="/static/templates/js/bootstrap.js"></script>
      <script>
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
        }
        
        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }
        </script>
      {% endblock %}
    </div>
  </body>
</html>