<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title>Repixelizor</title>
  
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/templates/css/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="/static/templates/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/templates/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    
    <div class="column">
    {% for file in blobs %}
    <img src="{{ file }}" class="boxphoto inner-borderphoto" alt="">
    {% endfor %}
    </div>
    </div>
  </body>