<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Process{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container" style="border: 2px dashed #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;height: 500;width: 600;">
    <div class="row">
    <div class="column">
        <div class="heading_container">
            <p style="padding-top:50px;">
              Before
            </p>
          </div>
        <img src="{{ url_for('display_image',filename=filename) }}" style="padding-top:10px;padding-left:50px;height: 700px;width: 550px;" alt="">
    </div>
    <div class="column">
        <div class="heading_container">
            <p style="padding-top:50px;">
              After
            </p>
          </div>
        <img src="{{ filename2|safe }}" style="padding-top:10px;padding-left:50px;height: 700px;width: 550px;" alt="">
    </div>
    <div class="row" style="padding-left:60px;">
    <div class="container" style="border: 2px dashed blue;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;height: 40px;width: 1200px;">
    <p style="background-color: aqua;color: #B22222;">
        URL for photo : {{filename2|safe}}
      </p>
      </div>  
    </div>
    </div>
</div>


{% endblock %}