<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Repixelizor</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/templates/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/templates/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/templates/css/responsive.css" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11 offset-lg-1">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <img src="/static/templates/images/logo.png" alt="">
                <span>
                    Repixelizor
                </span>
              </a>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('homeindex')}}">Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('about')}}"> About <span class="sr-only">(current)</span> </a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('Contact')}}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}"> Logout </a>
                      </li>
                  </ul>
                  
                </div>

              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container" style="border: 2px dashed #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;height: 500;width: 600;">
    <div class="row">
    <div class="column">
        <div class="heading_container">
            <p style="padding-top:50px;">
              Before
            </p>
          </div>
        <img src="{{ url_for('display_image',filename=filename) }}" style="padding-top:10px;padding-left:50px;height: 700px;width: 550px;" alt="">
    </div>
    <div class="column">
        <div class="heading_container">
            <p style="padding-top:50px;">
              After
            </p>
          </div>
        <img src="{{ filename2 }}" style="padding-top:10px;padding-left:50px;height: 700px;width: 550px;" alt="">
    </div>
    <div class="row" style="padding-left:60px;">
    <div class="container" style="border: 2px dashed blue;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;height: 40px;width: 800px;">
    <p >
        Download_URL: {{ filename2 }}
      </p>
      </div>
    </div>
    </div>
</div>
  </div>


  <script type="text/javascript" src="/static/templates/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/templates/js/bootstrap.js"></script>

</body>

</html>