<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="portfolio_section layout_padding">
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="container">
      
      <div class="heading_container">
        <h2>
          Cartoonize yourself
        </h2>
        <p>
          Hello {{name}} Please Upload an Image Below with max size of W=1300Pixels and H=1800Pixels
        </p>
      </div>
      <div class="box-2">
        <div class="img-box b-2">
          <div class="img-box b-1">
            
            <div class="btn-box">
              <a href="" class="btn-1">

              </a>
            </div>
          </div>
          
            </div>
          </div>
        
          <div class="container" >
          <div class="row" >
          <div class="column">
            <form methods="post" action="{{url_for('upload_image')}}" class="dropzone" style="height:600px;width:600px"> 
          </form>
          
          
        </div>
        <div class="column" style="padding-left:40px;padding-right:50px;"> 
          <p>My Image Has: Select all that apply</p>  
           
              <div class="row">
                <div class="column">
          <form name="process" method="post" action="/process"style="padding-left:10px;padding-right:50px;"> 
            <p>
              <input type="radio" id="BW" name="radio" value="Black & White"><label for="BW">Black & White</label>
              <input type="radio" id="colour" name="radio" value="Colour Image"><label for="colour">Colour Image</label>                 
            </p>  
            <input type="submit" name="action" value="Process" class="btn btn-info" >
              
            </form>
            </div>

            </div>
          
        </div>
        </div>
        <div class="row">
          <div class="container" style="border: 2px dashed blue;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;height: 80px;width: 800px;">
    <p >
        We are adding more features in the website and will incur charges for subscription
      </p>
      <p >
        Please let us know what you like and what you want to have in the site
      </p>
      </div>
        </div>
        <!-- <div class="row" > -->
          
        
          </div>
          </section>
          {% endblock %}
