<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="portfolio_section layout_padding">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="container">
      <div class="heading_container">
        <h2>
          Repix your Memories
        </h2>
        <p>
          Hello {{name}} Please Upload an Image Below and Select all parameter for Processing
        </p>
      </div>
      <div class="box-2">
        <div class="img-box b-2">
          <div class="img-box b-1">
            
            <div class="btn-box">
              <a href="" class="btn-1">

              </a>
            </div>
          </div>
          
            </div>
          </div>
        
          <div class="container" >
          <div class="row" >
          <div class="column">
            <form methods="post" action="{{url_for('upload_image')}}" class="dropzone" style="height:600px;width:600px"> 
          </form>
          
          
        </div>
        <div class="column" style="padding-left:40px;padding-right:50px;"> 
          <p>My Image Has: Select all that apply</p>  
           
              <div class="row">
                <div class="column">
          <form name="process" method="post" action="/process" enctype="multipart/form-data" style="padding-left:10px;padding-right:50px;"> 
            <p>
              <input type="radio" id="scratches" name="scratches" value="scratches">Scratches
              <input type="radio" id="deoldify" name="deoldify" value="deoldify">Old Black and white                  
            </p>  
            <input type="submit" name="action" value="Process" class="btn btn-info" >
              
            </form>
            </div>
          
              <div class="column">
                <form name="logout"  action="{{url_for('logout')}}"  enctype="multipart/form-data" style="padding-top:40px;padding-right:50px;">
                  
                        <input type="submit" name="logout" value="logout" class="btn btn-info" >
                        
                </form>
              </div>
            </div>
          
        </div>
        </div>
        <div class="row">
          <div class="container" style="border: 2px dashed blue;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;height: 80px;width: 800px;">
    <p >
        We are adding more features in the website and will incur charges for subscription
      </p>
      <p >
        Please let us know what you like and what you want to have in the site
      </p>
      </div>
        </div>
        <!-- <div class="row" > -->
          
        
          </div>
          </section>
          {% endblock %}
